altair==4.1.0
aniso8601==8.0.0
argon2-cffi==20.1.0
asgiref==3.2.10
astor==0.8.1
astroid==2.4.2
async-generator==1.10
attrs==20.2.0
autopep8==1.5.4
awscli==1.18.190
backcall==0.2.0
base58==2.0.1
bleach==3.2.1
blinker==1.4
boto3==1.15.6
botocore==1.19.30
Brotli==1.0.9
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
dash==1.18.0
dash-bootstrap-components==0.10.7
dash-core-components==1.14.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
Django==3.1.2
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
Flask==1.1.2
Flask-Compress==1.8.0
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
gunicorn==20.0.4
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mizani==0.7.1
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numpy==1.19.2
packaging==20.4
palettable==3.3.0
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pipreqs==0.4.10
plotly==4.10.0
plotnine==0.7.1
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyarrow==1.0.1
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pydeck==0.5.0b1
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
pyreadr==0.3.6
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
retrying==1.3.3
rsa==4.5
s3transfer==0.3.3
scipy==1.5.2
Send2Trash==1.5.0
six==1.15.0
smmap==3.0.4
SQLAlchemy==1.3.20
sqlparse==0.3.1
statsmodels==0.12.0
stop-words==2018.7.23
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.4
tzlocal==2.1
urllib3==1.25.10
validators==0.18.1
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt==1.12.1
xlrd==1.2.0
yarg==0.1.9
